<!DOCTYPE html>
<html>
   <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="MarchYandere" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/csswizardry.min.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
   </head>
   <body class="promo">

		<div class="wrapper">

    		<div class="layout">
        		<section class="layout__item  desk-three-fifths  post" data-ui-component="Main content">

            		<time class="post__date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %B, %Y" }}</time>

            		<h1>{{ page.title }}</h1>

            		{{ content }}

 

        		</section
       			><section class="layout__item  desk-three-tenths  desk-push-one-tenth" data-ui-component="Sub content">

            		<div class="[ box  box--highlight ]  mb">
        				<p>Hi，欢迎来到我的博客.我是yandere，一年前我本是从事javaWeb方面的开发，一次偶然的机会，让我接触到了ios开发方面的知识，对它产生了浓厚的兴趣。现在我是一名ios developer，在这里我会记录我工作中、生活中的技术积累，学习路上，与君共勉</p>
            
						<p><a href="#" class="twitter-follow-button" data-show-count="true" data-lang="en">org.java.meego@gmail.com</a></p>

						<hr />

						<h4>分类</h4>

						<ul class="[ list-ui  list-ui--small ]  mb">
    						<li><a href="#">IOS</a></li>
    						<li><a href="#">Java</a></li>
    						<li><a href="#">杂谈</a></li>
							</ul>

							<h4>事件</h4>

							<ul class="list-ui  list-ui--small">

    							<li>
        							<h3 class="list-ui__title">Talk</h3>
        			 				将要购买一部mac mini，灰常开森, November 2014
    							</li>

							</ul>

        				</div>


            		<!--<article class="[ box  box--highlight ]  mt" data-ui-component="ad">
                	
            		</article>-->

        		</section>

    		</div>

		</div>
		
        <footer class="page-micro" style="margin-bottom:0px;">

    		<p class="wrapper">
        		<small class="page-micro__copy"><b>MarchYandere</b> is my <b>nickname.</b>  <b>contact me.</b> <b>QQ:</b>376490931</small>
    		</p>

		</footer>
       
	</body>
</html>
